{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <div class="about">
            <p>Вітаю в моєму інтернет-магазині! Цей проєкт був розроблений самостійно для демонстрації своїх навичок у
                веб-розробці з
                використанням Django. Основна мета — створити просту та функціональну платформу для інтернет-магазину,
                яка
                демонструє ключові елементи сучасних веб-додатків.</p>

            <p>Було впроваджено можливість переглядати каталог товарів, додавати їх до кошика та швидко оформлювати
                замовлення.
                Система підтримує реєстрацію та авторизацію користувачів, що дозволяє створювати персоналізовані
                облікові
                записи для відстеження покупок.</p>

            <p>Цей проєкт є результатом моєї роботи та досвіду в розробці, тому я намагався зробити його максимально
                наближеним до реальних умов. Хоч він і не є комерційним, цей інтернет-магазин відображає основні
                аспекти,
                які я вивчив і впровадив у процесі розробки. Проєкт створений так, щоб його було легко розширювати та
                інтегрувати додаткові функції, як-от система оплати, інструменти для аналізу продажів або автоматизована
                обробка замовлень.</p>

            <p> Переконаний, що цей проєкт не лише демонструє мій рівень володіння технологіями, але й слугує чудовим
                прикладом того, як можна швидко та ефективно створити інтернет-магазин з використанням сучасних
                інструментів
                веб-розробки. Дякую, що відвідали цей проєкт, і сподіваюся, що він буде корисним як приклад або джерело
                натхнення для майбутніх проєктів!</p>
        </div>
    </div>
{% endblock content %}