{% extends 'base.html' %}

{% block content %}
    <div>
        <h2 class="welcome-title">Вітаємо на веб-сайті "Online Electric Shop"</h2>
        <h3 class="welcome-title">Пропонуємо ознайомитися з новинками сьогодення!</h3>
        <div class="wow fadeInUp">
            <img src="https://ucarecdn.com/05e1dd61-8731-47dc-9b06-aafeba95fd84/iphone16.jpg" class="img_left">
            <h2 class="article-title">Iphone 16</h2>
            <div class="right-article">
                <p> Завдяки новій універсальній системі камер iPhone 16 можна робити гарні знімки як із близької, так і
                    з
                    далекої відстані. Камера Fusion 48 Мп «два в одному» дає змогу отримувати неймовірні зображення
                    надвисокої
                    роздільної здатності або збільшувати зображення за допомогою зуму 2х оптичної якості. Надширококутна
                    камера
                    призначена для макрозйомки дуже крупним планом, а також для більш широкоформатних і масштабніших
                    фото.
                    Разом
                    це, ніби мати чотири об’єктиви під рукою. До всього завдяки просторовій зйомці можна робити фото й
                    відео
                    у
                    форматі 3D.</p>

                <p> Зустрічайте A18, унікальний чип, який на два покоління випереджає чип A16 Bionic в iPhone 15. Він
                    забезпечує
                    роботу таких передових функцій камери, як «Стилі фотографій» і «Контролер камери». І все це з
                    винятковою
                    енергоефективністю для подовження терміну служби акумулятора.</p>

                <p>iPhone 16 має міцний корпус із аерокосмічного алюмінію та надійне й гарне прокольороване скло на
                    задній
                    панелі. Панель Ceramic Shield останнього покоління також вирізняється надзвичайною міцністю. А нова
                    внутрішня конструкція ефективніше розсіює тепло, тому ви отримаєте кращу загальну продуктивність,
                    особливо коли йдеться про ігри.</p>
            </div>
        </div>
        <div class="wow fadeInUp">
            <img src="https://ucarecdn.com/3ae4aa5e-4a17-4191-8f2a-8005b11bf796/g309.jpg" class="img_right">
            <h2 class="article-title">G309 LIGHTSPEED</h2>
            <div class="left-article">
                <p>Перемикайтеся між надійним і швидким бездротовим зв'язком LIGHTSPEED та Bluetooth для повної
                    гнучкості в
                    управлінні бездротовою ігровою мишею.</p>

                <p>Світлові оптико-механічні перемикачі LIGHTFORCE забезпечують оптичну швидкість, механічне відчуття та
                    оптимізовану продуктивність для ігор.</p>

                <p>Датчик HERO 25K на цій бездротовій ігровій миші відстежує з точністю до субмікрона без згладжування
                    для
                    максимальної точності в іграх.</p>

                <p>Понад 300 годин роботи з батареєю AA або необмежений час роботи з POWERPLAY, тож ви можете
                    зосередитися
                    на грі, а не на заряді батареї.</p>

                <p>Logitech G309 LIGHTSPEED - легка ігрова миша, що важить лише 86 г з включеною батареєю AA або 68 г
                    (без
                    батареї) при використанні системи бездротової зарядки POWERPLAY.</p>

                <p>До 6 програмованих кнопок для персоналізованого геймплея та індивідуальних налаштувань.</p>
            </div>
        </div>
        <div class="wow fadeInUp">
            <img src="https://ucarecdn.com/c7ccb8c9-eeaa-4de4-a6d6-60c7dcefcd71/_20241007_185629351.png"
                 class="img_left">
            <h2 class="article-title">Playstation 5 Pro</h2>
            <div class="right-article">
                <p> Внутрішні вдосконалення PS5 Pro забезпечать на 45% швидший рендеринг порівняно з оригінальною
                    моделлю.
                    Це дозволить покращити деталізацію та частоту кадрів у іграх.</p>

                <p> Компанія Sony встановила в PS5 Pro графічний процесор з на 67% більшою кількістю обчислювальних
                    блоків,
                    ніж у поточній версії PS5. Крім того, нова консоль отримала на 28% швидшу пам’ять.</p>

                <p> Додаткова потужність PS5 Pro значно покращить ігри з трасуванням променів. Розробники зможуть
                    запускати
                    промені зі швидкістю, що вдвічі або втричі перевищує можливості поточної PS5.</p>

                <p>PS5 Pro також має нову технологію ШІ-апскейлінгу під назвою PlayStation Spectral Super Resolution
                    (PSSR).
                    Ця функція працює подібно до DLSS від Nvidia або FSR від AMD, покращуючи частоту кадрів та якість
                    зображення в іграх для PlayStation. PSSR розроблена для заміни існуючих реалізацій часового
                    згладжування
                    або масштабування в іграх.</p>
            </div>
        </div>
    </div>
{% endblock %}