{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="welcome-title">Вітаємо, {{ user.get_username }}</h1>
        <div class="main">
        <h2>Ваш кошик:</h2>
        {% if order_list %}
            <div class="order-list">
                {% for product in order_list %}
                    <div class="order-item">
                        <img src="{{ MEDIA_URL }}{{ product.product.product_photo }}/" class="cart-image"
                             alt="{{ product.product.product_name }}">
                        <div class="order-details">
                            <a class="catalog-text">{{ product.product.product_name }}</a>
                            <p>Кількість: {{ product.count }} шт.</p>
                                <form action="{% url 'add_to_cart' %}" method="POST" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.product_id }}">
                                    <button type="submit" class="button">Додати</button>
                                </form>
                                <form action="{% url 'remove_from_cart' %}" method="POST" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.product_id }}">
                                    <button type="submit" class="button">Прибрати</button>
                                </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <a href="{% url 'logout' %}" class="button">Вийти з аккаунту</a>
    {% endif %}
</div>
{% endblock %}
