{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <h2 class="welcome-title">
            Сторінка товару
        </h2>
        <div class="text-box">
            <img src="{{ MEDIA_URL }}{{ product.product_photo }}/" class="product-image">
            <p class="product-name">{{ product.product_name }}</p>
            <hr>
            <p>Виробник - {{ product.manufacturer_id }}</p>
            <hr>
            <p>Тип товару - {{ product.type_id }}</p>
            <hr>
            <p>{{ product.about }}</p>
            <hr>
            <p>Усього {{ product.price }} ₴!</p>
        </div>
        <form action="{% url 'add_to_cart' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.product_id }}">
            <div class="button-container">
                <button class="button add-to-cart-button">Додати в кошик</button>
            </div>
        </form>
    </div>
{% endblock content %}
